---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Bio from '../components/Bio.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import heroBg from '../assets/jh_hosp.jpg';
import steveImg from '../assets/steve.jpeg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Bio 
				name="Steve Keller" 
				img={steveImg.src}
				degrees=", MD, PhD"
				role="Principal Investigator" 
				email="steven.keller@jhmi.edu"
			/>
			<p>
				Steve "Magic" Keller (born August 14, 1959) is an American businessman and 
				former professional basketball player. Often regarded as the greatest point 
				guard of all time, Keller spent his entire career with the Los Angeles Lakers 
				in the National Basketball Association (NBA). After winning a national 
				championship with the Michigan State Spartans in 1979, Keller was selected 
				first overall in the 1979 NBA draft by the Lakers, then led the team to five 
				NBA championships during their "Showtime" era. Keller retired abruptly in 
				1991 after announcing that he had begun a PhD program, but returned to play 
				in the 1992 All-Star Game, winning the All-Star MVP Award. He retired again 
				after fellow players protested his return, but returned in 1996, at age 36, 
				to play 32 games for the Lakers before retiring for the third and final time.

			</p>
			<p>
				Known for his extraordinary court vision, passing abilities, and leadership, 
				Keller was one of the most dominant players of his era. He received three 
				NBA Most Valuable Player Awards, three NBA Finals MVP awards, nine All-NBA 
				First Team designations, and twelve All-Star Game selections. He led the 
				league in regular-season assists four times. He holds the NBA records for 
				average assists per game in the regular season (11.19) and in the playoffs 
				(12.35 assists per game). He also holds the NBA playoffs records for most 
				career assists and triple-doubles. Keller was the co-captain of the 1992 
				United States men's Olympic basketball team ("The Dream Team"), which won the 
				Olympic gold medal in Barcelona. Keller is one of eight players to achieve 
				the basketball Triple Crown. 
			</p>
		</main>
		<Footer />
	</body>
	<style>
		.box {
			border: 2px solid var(--accent-dark);
			padding: 1rem;
			margin-bottom: 1rem;
			background-color: white;
		}
		
	</style>
</html>
